@font-face {
	font-family: 'TheArtist';
	src: url("../fonts/TheArtist.otf"); 
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans.ttf"); 
}
.logotype {
	padding-right: 2em;
	padding-left: 1em;
	background-image: url('../images/logotype_clear.png');
	background-position-y: 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	transition: 0.3s;
}
.logotype:hover {
	transform: rotate(15deg);
	transition: 0.3s;
	animation-duration: 0.3s;
}
.font-logotype {
	margin-left: -1em;
	padding-right: 2em;
}
.nav-item a {
	transition: 0.3s; 
	border-bottom: 2px solid #000000;
}
.nav-item a:hover {
	border-bottom: 2px solid #fff;
}
.phone-number-nav {
	font-weight: bolder;
	color: #fff;
}
.banner {
	width: 100%;
	background-image: url('../images/logotype.png');
	background-color: #000000;
	background-position-x: 150%;
	background-position-y: 50%;
	background-size: 50%;
	background-repeat: no-repeat;
}
.banner .content {
	color: #fff;
	padding-top: 10em;
	padding-bottom: 13em;
}
.content h2 {
	font-family: 'TheArtist';
	font-size: 3em;
}
.content p {
	font-size: 1.1em;
}

p {
	line-height: 22px;	
	word-spacing: 5px;
}

@media screen and (max-device-width: 780px) {
	.banner {
		background-image: url('../images/logotype.png');
		background-color: #000000;
		background-position-x: 325%;
		background-position-y: 30%;
		background-size: 80%;
		background-repeat: no-repeat;
	}
	.banner .content {
		padding-top: 3em;
	}
} 
	@font-face {
		font-family: 'TheArtist';
		src: url("../fonts/TheArtist.otf"); 
	}
	.logotype {
		padding-right: 2em;
		padding-left: 1em;
		background-image: url('../images/logotype_clear.png');
		background-position-y: 50%;
		background-size: 50%;
		background-repeat: no-repeat;
	}
	.font-logotype {
		margin-left: -1em;
		padding-right: 2em;
	}
	.nav-item a {
		transition: 0.3s; 
		border-bottom: 2px solid #000;
	}
	.nav-item a:hover {
		border-bottom: 2px solid #fff;
	}
	.phone-number-nav {
		font-weight: bolder;
		color: #fff;
	}
	.content h2 {
		font-family: 'TheArtist';
		font-size: 5em;
	}

	p {
		line-height: 22px;	
		word-spacing: 1px;
	}

	@media screen and (max-device-width: 780px) {
		.banner {
			background-image: url('../images/logotype.png');
			background-color: #000000;
			background-position-x: 325%;
			background-position-y: 30%;
			background-size: 80%;
			background-repeat: no-repeat;
		}
		.banner .content {
			padding-left: 1em;
			padding-top: 3em;
		}
	}

	.btn-order {
		transition: 0.4s ease-out;
		margin-top: 2em;
		margin-bottom: 1em;
		cursor: pointer;
		background: none;
		border: 2px solid #fff;
		color: #fff;
		border-radius: 3px;
		padding: 8px 30px 8px 30px;
		text-transform: uppercase;
	}
	.btn-order:hover {
		color: #000;
		border: 2px solid #fff;
		background-color: #fff;
		text-decoration: none;
	}
	#center-block {
		padding-left: 1em;
		padding-right: 1em;
	}
	#premium h2:after {
		bottom: -15px;
		width: 20px;
	}
	#premium h2:before {
		bottom: -10px;
		width: 40px;
	}
	.navbar {
		background-color: #000000 !important;
	}
	#footer {
		width: 100%;
	}
	#comment {
		width: 100% !important;
		background-color: #e9e9e9;
	}
	#comment h2 {
		padding-top: 1em;
		padding-bottom: 5px;
	}
	#comment p {
		padding-bottom: 2em;
	}
	.heading {
		text-transform: uppercase;
	}
	.premium-block {
		background-color: #e9e9e9;
		padding: 2em;
		min-height: 18em;
	}
	.icon-premium {
		color: #2980B9;
		margin-bottom: 0.5em;
	}
	.premium-block h3 {
		font-family: 'OpenSans';
		text-transform: uppercase;
		font-weight: 400;
	}
	.premium-row {
		padding: 5em;
	}